.indicadores {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding-bottom: 6rem;
}

.indicadores__container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 22%;
}

.indicadores__numero {
    color: var(--vinho);
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 4.5rem;
}

.indicadores__titulo {
    color: var(--preto);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
    margin: 0.75rem 0 0.5rem 0;
}

.indicadores__texto {
    line-height: 1.5rem;
}