.rodape {
    align-items: center;
    background-color: var(--background-off-white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 6rem 0;
}

.rodape__cta {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.cta__titulo {
    color: var(--preto);
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
}

.cta__texto {
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.rodape__formulario {
    display: flex;
    gap: 1.875rem;
    margin-top: 0.5rem;
}

.formulario__entrada {
    background-color: var(--branco);
    border: 1px solid var(--borda-cinza-claro);
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    box-sizing: border-box;
    color: var(--preto);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 0.75rem 0.875rem 0.75rem 1rem;
    width: 25vw;
}

.formulario__entrada::placeholder {
    color: var(--cinza-claro);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    padding-left: 1rem;
}

.formulario__botao {
    background-color: var(--vinho);
    border: 1px solid var(--vinho);
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem 1.25rem;
}

.rodape__direitos {
    line-height: 1.5rem;
}